* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LorinExtraBold';
    src: url(./fonts/Lorin-ExtraBold.ttf);
}

@font-face {
    font-family: 'LorinLight';
    src: url(./fonts/Lorin-Light.ttf);
}

body {
    font-family: 'LorinExtraBold', sans-serif;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #00586C;
    position: fixed;
    width: 100%;
}

.navList {
    display: flex;
    list-style: none;
}

.navList a {
    text-decoration: none;
    color: #fefefe;
    display: block;
    /*font-size: 1.5rem;*/
    padding: 1rem;
}

.navList a:hover {
    background-color: #02303A;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000E1E, #002856);
    color: white;
    font-size: 2rem;
}

#welcomeLogo {
    padding: 3rem;
    height: 5vw;
}

.smallerText {
    font-family: 'LorinLight', sans-serif;
    font-size: 0.7em;
}

.contactSmallTxt {
    font-family: 'LorinLight', sans-serif;
    font-size: 1.1em;
}

#projects {
    display: block;
    text-align: center;
    background-color: #031A48;
}

#projectButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #031A48;
}

.starWarsBanners {
    height: 18rem;
}

#projects h1 {
    color: white;
    font-size: 2rem;
    padding: 2rem;
    padding-bottom: 0rem;
}

.project-tile {
    text-decoration: none;
}

figure {
    margin: 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

figure img {
    max-width: 300px;
}

figcaption {
    background-color: #081226;
    color: #fefefe;
    text-align: center;
    padding: 10px 0px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: linear-gradient(#00446A, #00314C);
    color: white;
}

.contact-link {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #fefefe;
    transition: transform 0.3s ease-out;
}

.contactHeader {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-link:hover {
    transform: translateY(8px);
}

footer {
    text-align: center;
    background-color: #000611;
    padding: 1rem;
    color: white;
}

@media (max-width: 480px) {
    body {
        font-size: 70%;
    }

    #welcome-section {
        background-color: #555555;
        color: #fff;
    }
}