* {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 2rem;
}

figcaption {
    display: block;
    text-align: center;
    color: rgb(214, 246, 8);
}

h1 {
    color: rgb(214, 246, 8);
    text-align: center;
}